.background-image {
  float: left;
  filter: grayscale(100%);
  opacity: 0.3;
  /*margin: 0 auto;*/
}

.container {
  position: relative;
  z-index: -1;
}

.graphics {
  position: absolute;
  z-index: 0;
}

#pie {
  margin-left: 40%;
/*  display: block;
  position:absolute;
  top: 50%;
  left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

#bar {
  margin-left: 50%;
  margin-top: 20px;
/*  display: block;
  position:relative;
  margin: 100px;
  top: 100%;
  left: 60%;*/
  /*transform: translate(-50%, 60%);*/

}

/*.App {
  text-align: center;
}*/

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}*/

.App-header {
  background-color: #222;
  height: 50px;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
